<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.title %></h1>
                            <h2>Quantity: <%= p.cartItem.quantity %></h2>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.id %>" name="productId">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>

<!-- cr8 Structure & add ejs expression on cart -->
<!-- Add main structure -->
<!-- s9-130: Add if statement structure -->
<!-- s9-130:Add render ul for loop all products -->
<!-- s9-130: Add output p.product data for allow title -->
<!-- s9-130: Access p.quantity -->
<!-- s9-131: Add form with method post -->
<!-- s9-131: Add button with type submit for delete -->
<!-- s9-131:Add hidden value input with value p.productData.id -->
<!-- s11-168: remove p into h1 -->
<!-- s11-168: Add h2 for quantity -->
<!-- s11-168: change value to p.id @input -->
<!-- s11-168: Add class cart__item-list @ul -->
<!-- s11-168: change class to btn danger @button -->
<!-- s11-168: Add class cart__item @li -->
<!-- s11-168: import cart.css -->