<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= product.title %></h1>
            <hr>
            <div>
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <h2><%= product.price %></h2>
            <p><%= product.description %></p>
            <form action="/cart" method="post">
                <button class="btn" type="submit">Add to Cart</button>
                <input type="hidden" name="productId" value="<%= product.id %>">
            </form>
        </main>
        <%- include('../includes/end.ejs') %>


<!-- Cr8 base product detail views structure  -->
<!-- Add class centered on main useful for css -->
<!-- Add product and output the title -->
<!-- Add product and output the image -->
<!-- Add product price & description -->
<!-- Add form for post with button to submit (Add to Cart)-->
<!-- cr8 hidden input productId for request product ID -->